# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
.venv
venv/
ENV/
env/
build/
dist/
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Database
*.db

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/now shoukdgit 